body{
    background-image: url("paper.jpg");
    font-family: 'Patrick Hand', cursive;
}
table {
    border-collapse: collapse;
    margin: 15px 0;
}
header{
    font-family: 'Permanent Marker', cursive;
    font-size: xx-large;
    text-decoration: underline;
    color: #a50000;
}
header>img{
    /*width:64px;*/
    /*height:64px;*/
}
.name{
    font-size: 20px;
    font-weight:bolder;
}
div#coffees{
    margin-left:auto;
    margin-right:auto;
}
.roast{
    color: darkred;
    margin-left: 10px;
    margin-right: 10px;
}
.coffee-box{
    float:left;
}