body{
    background-image: url("paper.jpg");
    font-family: 'Patrick Hand', cursive;
}
table {
    border-collapse: collapse;
    margin: 15px 0;
}
header{
    font-family: 'Permanent Marker', cursive;
    font-size: xx-large;
    text-decoration: underline;
    color: #a50000;
    margin-top: 1%;
}
header>img{
    /*width:64px;*/
    /*height:64px;*/
}
.name{
    font-size: 20px;
    font-weight:bolder;
}
div#coffees{
    margin-left:auto;
    margin-right:auto;
}
.roast{
    color: darkred;
    margin-left: 10px;
    margin-right: 10px;
    float:left;
}
.coffee-box{
    float:left;
}
#coffee-search{
    /*margin-left:50%;*/

}
#name-filter{
    /*font-family: 'Permanent Marker', cursive;*/
    position:fixed;
    left: 5%;
    top:30%;

}
#create-custom{
    position:fixed;
    left: 5%;
    top:50%;
}
form#create-custom h4{
    font-family: 'Permanent Marker', cursive;
    color: darkred;
}
form#roast-filter{
    position:fixed;
    left: 5%;
    top:10%;
}
form#roast-filter>h4{
    font-family: 'Permanent Marker', cursive;
    color: darkred;
}
form#name-filter{
    float:left;
    margin-right: 5%;
}
form#name-filter h4{
    font-family: 'Permanent Marker', cursive;
    color: darkred;
}
div#coffees{
    margin-top:3%;
    margin-left:30%;
}
input#custom-name{
    margin-top:5px;
}
